@import '../../../styles.scss';

.card {
    background-color: $pink-color;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, $brown-color, $pink-color, $yellow-color);
    text-align: center;
    align-items: center;
}

