<div class="container card" style="max-width: 550px">
  <h2 class="text-center mb-5">הרשמה</h2>
  <div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder='דוא"ל'
        id="firstname"
        readonly
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="סיסמה"
        id="lastname"
        readonly
      />
    </div>
    <div class="form-group">
      <input
        type="button"
        class="form-control"
        value="התחברות"
        id="email"
        readonly
      />
    </div>
  </div>
  <hr />
  <div>
    <div>
      <button type="button" class="btn btn-danger">Login with Google</button>
    </div>
  </div>
</div>
