/* You can add global styles to this file, and also import other style files */

$primary-color: #3498db;
$pink-color: #F18973;
$yellow-color: #FFEF96;
$brown-color: #BC5A45;
$gray-color: #7F7F7F;
$black-color: #000;
$white-color: #FFFFFF;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

